
#SalarySurveyForm {
    padding-top: 100px;
}

.selectItemSurvey {
    padding-top: 35px;
}


.selectItemSurvey .MuiInputLabel-root .arbejdsfunktion {
    padding-right: 100%;
}

.salaryBox {
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}

.salaryPaperBox{
    position: relative;
    
}

.radialBar{
    margin-left: 5%;
}

.salaryText {
    position: relative;
    top: -30px;
}