.App {
  text-align: center;
}

.Body{
  height: 700px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.MuiPaper-root {
  height: 100%;
  width: 100%;
}

.loading {
  width: 75%;
  height: auto;
}